@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline; }

strong {
  font-weight: bold; }

body {
  color: rgba(0, 0, 0, 0.8);
  font-family: Assistant, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

p {
  margin: 0;
  margin-bottom: 16px; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  line-height: 1.2;
  font-weight: 500; }

h1 {
  font-size: 40px;
  margin: 20px 0 16px; }
  h1 span {
    display: block;
    font-size: 20px;
    color: #666; }

h2 {
  font-size: 32px;
  margin: 20px 0 16px; }

h3 {
  font-size: 28px;
  margin: 16px 0 4px; }

h4 {
  font-size: 24px;
  margin: 16px 0 4px; }

h5 {
  font-size: 20px;
  margin: 16px 0 4px; }

h6 {
  font-size: 16px;
  margin: 16px 0 4px; }

small {
  color: rgba(0, 0, 0, 0.54);
  vertical-align: bottom; }

pre {
  background: #f7f7f9;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 16px;
  margin: 16px 0;
  padding: 16px;
  white-space: pre-wrap;
  overflow-wrap: break-word; }

code {
  color: rgba(0, 0, 0, 0.8);
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-break: break-all;
  word-wrap: break-word; }

a {
  color: Turquoise;
  text-decoration: none;
  background-color: transparent; }
  a:hover, a:focus {
    color: #21ccbb;
    text-decoration: underline; }

ul,
ol {
  margin-bottom: 8px;
  padding-left: 40px;
  vertical-align: baseline; }

blockquote {
  border-left: 2px solid rgba(0, 0, 0, 0.8);
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin: 16px 0;
  padding-left: 16px; }

u {
  text-decoration: underline; }

s {
  text-decoration: line-through; }

sup {
  font-size: 14px;
  vertical-align: super; }

sub {
  font-size: 14px;
  vertical-align: sub; }

mark {
  background: #ffeb3b; }

*, *::before, *::after {
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 768px; }

.row:after, .col:after, .clr:after, .group:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.row {
  margin-bottom: 0.25em; }

.row.tight {
  margin-bottom: 0em; }

.col {
  display: block;
  width: 100%;
  float: right; }

@media (min-width: 768px) {
  .col {
    margin-right: 1.1%; } }

.col:first-child, .col.first {
  margin-right: 0; }

@media (min-width: 768px) {
  .span_1, .span-1 {
    width: 7.325%; }
  .span_2, .span-2 {
    width: 15.75%; }
  .span_3, .span-3 {
    width: 24.175%; }
  .span_4, .span-4 {
    width: 32.6%; }
  .span_5, .span-5 {
    width: 41.025%; }
  .span_6, .span-6 {
    width: 49.45%; }
  .span_7, .span-7 {
    width: 57.875%; }
  .span_8, .span-8 {
    width: 66.3%; }
  .span_9, .span-9 {
    width: 74.725%; }
  .span_10, .span-10 {
    width: 83.15%; }
  .span_11, .span-11 {
    width: 91.575%; }
  .span_12, .span-12 {
    width: 100%; } }

.tight {
  margin-bottom: 0; }

.center {
  text-align: center; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello-5b56b315.eot?10096542");
  src: url("../font/fontello-5b56b315.eot?10096542#iefix") format("embedded-opentype"), url("../font/fontello-321615e3.woff2?10096542") format("woff2"), url("../font/fontello-45146fb0.woff?10096542") format("woff"), url("../font/fontello-9bd27829.ttf?10096542") format("truetype"), url("../font/fontello-1382c5f6.svg?10096542#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello-1382c5f6.svg?10096542#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-phone:before {
  content: '\e800'; }

/* '' */
.icon-mail:before {
  content: '\e801'; }

/* '' */
.icon-check:before {
  content: '\e802'; }

/* '' */
.icon-facebook:before {
  content: '\f09a'; }

/* '' */
.icon-instagram:before {
  content: '\f16d'; }

/* '' */
.icon-whatsapp:before {
  content: '\f232'; }

/* '' */
.icon-address-book:before {
  content: '\f2ba'; }

/* '' */
a.image-button {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background: #f1f1f1;
  padding: 5px;
  margin-bottom: 10px;
  transition: all 300ms ease-in-out; }
  a.image-button i {
    flex-shrink: 1;
    color: #333;
    font-size: 50px; }
  a.image-button p {
    flex-grow: 1;
    color: #666;
    margin-bottom: 4px;
    display: inline-block;
    font-size: 24px;
    padding: 10px; }
  a.image-button:focus, a.image-button:hover {
    text-decoration: none;
    background: #e4e4e4;
    transition: all 300ms ease-in-out; }

a.big-button {
  display: block;
  border-radius: 10px;
  background: #f1f1f1;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 300ms ease-in-out; }
  @media (max-width: 767px) {
    a.big-button {
      padding: 5px; } }
  a.big-button i {
    color: #333;
    font-size: 90px; }
    @media (max-width: 767px) {
      a.big-button i {
        font-size: 60px; } }
  a.big-button p {
    color: #666;
    margin-bottom: 4px;
    font-size: 24px; }
  a.big-button img {
    filter: grayscale(80%);
    transition: all 300ms ease-in-out; }
  a.big-button:focus, a.big-button:hover {
    text-decoration: none;
    background: #e4e4e4; }
    a.big-button:focus img, a.big-button:hover img {
      transition: all 300ms ease-in-out;
      filter: grayscale(0%); }

@keyframes hero1 {
  from {
    background-position: 0% 100%; }
  to {
    background-position: 50% 0; } }

.hero {
  text-align: center;
  padding: 50px 20px;
  background: #f1f1f1; }
  .hero img {
    width: 400px;
    max-width: 90%; }
  .hero h1 {
    margin-top: 0;
    color: #000; }
  .hero h2 {
    font-size: 24px;
    color: #666; }

.hero.home {
  background: #f1f1f1 url(/assets/images/seminar-1aa3f2d9.jpg) no-repeat 50% 0;
  background-size: cover;
  animation: hero1 30s linear; }
  .hero.home h1 {
    letter-spacing: 10px; }

@keyframes hero2 {
  from {
    filter: grayscale(80%); }
  to {
    filter: grayscale(0%); } }

.hero.cards {
  background: #f1f1f1 url(/assets/images/cards-background-8e274e40.png) no-repeat 50% 50%;
  background-size: cover;
  min-height: 250px;
  animation: hero2 40s linear; }

main, header, footer, section {
  margin: 0 auto;
  width: 100%; }

main {
  display: block;
  margin: 0 auto;
  max-width: 768px;
  min-height: 50vh;
  padding: 16px 16px 40px 16px; }

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px 16px 40px 16px;
  text-align: center; }
  footer p {
    margin-bottom: 0; }

header {
  background: Turquoise;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 4px;
  line-height: 1; }
  header img {
    max-height: 44px; }


/*# sourceMappingURL=site-ed524239.css.map */
